/*
Registration/Login Form by html-form-guide.com
You can customize all the aspects of the form in this style sheet
*/

#fg_membersite fieldset
{
   width:40%;
   padding:20px;
   border:1px solid #828181;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
-khtml-border-radius: 10px;
border-radius: 10px;   
}

#fg_membersite a.poplight[id="texttop"]
{	
	float:right;
	font-size:20px; 
	text-align:right;
	padding:0;
	position:relative;
	top:-55px;
	right:-180px;
	margin:0px 30px 0px 30px;		
	color:white;
	text-decoration:none;
}


#fg_membersite legend, #fg_membersite h2
{
   font-family : Myriad Pro Semibold, Trebuchet MS, sans-serif;
   font-size:1.3em;
   font-weight:semibold;
   color:#1c2d65;
}

#fg_membersite label
{
   font-family : Myriad Pro Semibold, Trebuchet MS, sans-serif;
   font-size:0.8em;
   font-weight:semibold;
   color:#1c2d65;
}

#fg_membersite input[type="text"],#fg_membersite textarea,
#fg_membersite input[type="password"]
{
  font-family : Arial, sans-serif;
  font-size: 0.8em;
  line-height:140%;
  color : #000000; 
  padding : 3px; 
  border : 1px solid #828181;
  background-color:#f5f4f4;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

#fg_membersite input[type="text"],
#fg_membersite input[type="password"]
{
  height:30px;
  width:320px;
}

 #fg_membersite #scaptcha
{
  width:60px;
  height:18px;
}

#fg_membersite input[type="submit"].boutonvalider
{
   width:100px;
   height:35px;
   padding-left:0px;
   margin-top:10px;
   margin-bottom:5px;
   background-color:transparent;
   background:url(../theme/boutonvalider.png) no-repeat top center;
   background-size:100px 70px;
   border:none;
   cursor: pointer;
   font-family : Arial, sans-serif;
   font-size:16px;
   font-weight:semibold;
   color: #1c2d65;
   padding:0px 0px 3px 20px;
}

#fg_membersite input[type="submit"].boutonvalider:hover
{
	background-position: bottom center;
	color:white;
}

#fg_membersite textarea
{
  height:120px;
  width:500px;
}

#fg_membersite input[type="text"]:focus,
#fg_membersite input[type="password"]:focus,
#fg_membersite textarea:focus
{
  font-family : Arial, sans-serif;
  font-size: 0.8em;
  color : #000000;
  border : 1px solid #a1a2a3;
  background-color :white;
  font-weight:normal;
}

#fg_membersite .container
{
   margin-top:8px;
   margin-bottom: 10px;
}

#fg_membersite .type
{
   font-family : Myriad Pro Semibold, Trebuchet MS, sans-serif;
   font-size:0.8em;
   font-weight: semibold;
   color:#1c2d65;
}

#fg_membersite .error
{
   font-family: Verdana, Arial, sans-serif;
   font-size: 0.7em;
   color:#fd0000;
   background-color :#fdfa00;
}

#fg_membersite #register_password_errorloc
{
    clear:both;
}

#fg_membersite  fieldset#antispam
{
   padding:2px;
   border-top:1px solid #EEE;
   border-left:0;
   border-right:0;
   border-bottom:0;
   width:350px;
}

#fg_membersite fieldset#antispam legend
{
   font-family : Myriad Pro Semibold, Trebuchet MS, sans-serif;
   font-size: 0.8em;
   font-weight:bold;
   color:#333;   
}

#fg_membersite .short_explanation
{
   font-family : Myriad Pro Semibold, Trebuchet MS, sans-serif;
   font-size: 0.6em;
   color:#0a40ef;   
}

/* spam_trap: This input is hidden. This is here to trick the spam bots*/
#fg_membersite .spmhidip
{
   display:none;
   width:10px;
   height:3px;
}
#fg_membersite #fg_crdiv
{
   font-family : Myriad Pro Semibold, Trebuchet MS, sans-serif;
   font-size: 0.3em;
   opacity: .2;
   -moz-opacity: .2;
   filter: alpha(opacity=20);   
}
#fg_membersite  #fg_crdiv p
{
    display:none;
}

#fg_membersite_content li
{
font-family : Myriad Pro Semibold, Trebuchet MS, sans-serif;
padding-top:10px;
padding-bottom:10px;
}

#fg_membersite_content
{
    font-family : Myriad Pro Semibold, Trebuchet MS, sans-serif;
    font-size: 0.9em;
    line-height: 150%
}

#fg_membersite_content h2
{
   font-family : Myriad Pro Semibold, Trebuchet MS, sans-serif;
   font-size: 1.5em;
   font-weight:bold;
   color:#333;
}

