body{
	background:url(../theme/fond.jpg) top center;
	margin:0;
	padding:0;
	font-family:Myriad Pro Semibold, Trebuchet MS, sans-serif;
	font-size:20px;
	color:#1c2d65;
	}
	
#fg_membersite_content
{
    font-size: 0.9em;
    line-height: 150%;
	width:800px;
	margin:auto;
	text-align:center;
	background-color:white;
	border:1px solid #828181;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
-khtml-border-radius: 10px;
	border-radius: 10px;  
}

#fg_membersite_content h2
{
   font-size: 1.5em;
   font-weight:bold;
   text-align:center;
}

#fg_membersite_content a
{
   font-size: 0.9em;
   text-align:center;
   color:#0a40ef;
}